In [2]:
tup= ('bharath','kumar','reddy')
print(tup)
tup1=(1,2,3,4,5,5,6)
print(tup1)
tup2="sudharshan","reddy"
print(tup2)

('bharath', 'kumar', 'reddy')
(1, 2, 3, 4, 5, 5, 6)
('sudharshan', 'reddy')

In [3]:
tup1 = ()
print(tup1)

()

In [4]:
tup1 = ('reddy')
print(tup1)

reddy

In [5]:
tup= ('bharath','kumar','reddy','sudharshan','reddy')
print(tup[0])
print(tup[2])
print(tup[2:5])

bharath
reddy
('reddy', 'sudharshan', 'reddy')

In [6]:
tup1= ('bharath','kumar','reddy','sudharshan','reddy')

print(tup1)

del(tup1)
print(tup1)

('bharath', 'kumar', 'reddy', 'sudharshan', 'reddy')

NameError: ignored

In [7]:
tup1= ('bharath','kumar','reddy','sudharshan','reddy')


print(tup1)
tup2= ('bhagya','iman','anjali')
print(tup2)


tup3=tup1+tup2
print(tup3)

('bharath', 'kumar', 'reddy', 'sudharshan', 'reddy')
('bhagya', 'iman', 'anjali')
('bharath', 'kumar', 'reddy', 'sudharshan', 'reddy', 'bhagya', 'iman', 'anjali')

In [8]:
tup1= ('bharath','kumar','reddy','sudharshan','reddy')


print(tup1)

print("value at 3rd loc= ",tup1[3])

tup1[3]="bhagya" #not allowed
print("UPDATED value at 3rd loc= ",tup1[3])

('bharath', 'kumar', 'reddy', 'sudharshan', 'reddy')
value at 3rd loc=  sudharshan

TypeError: ignored

In [9]:
tup1= ('bharath','kumar','reddy','sudharshan','reddy')

print(tup1)
tup2= ('bhagya','iman','anjali')

print(tup2)
a=len(tup1)
b=len(tup2)
print(a)
print(b)

print(len(tup1))

('bharath', 'kumar', 'reddy', 'sudharshan', 'reddy')
('bhagya', 'iman', 'anjali')
5
3
5

In [10]:
tup1= ('bharath','kumar','reddy','sudharshan','reddy')

print(tup1)
tup2= ('bhagya','iman','anjali')

print(tup2)


print(max(tup1))

('bharath', 'kumar', 'reddy', 'sudharshan', 'reddy')
('bhagya', 'iman', 'anjali')
sudharshan